.limit-width {
    max-width: 100%;
}

.related-link {
    height: 200px;
}

VideoThumbnail {
    max-width: 100%;
    height: auto;
}

.max-width-30 {
    max-width: 30%;
}

#linkHover {
    color: white;
}
#linkHover:hover {
    background-color: #717171;
    border-radius: 15px;
    color: black;
    padding: 10px;
}

#searchHover {
    color: white;
}
#searchHover:hover {
    background-color: #717171;
    border-radius: 15px;
    color: #474747;
}

#thumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
