.App {
  text-align: center;
  color: white;
  background-color: #212121;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#searchbar {
  border-radius: 50px;
}
#searchButton {
  color: #FAF9F6;
  background-color: #965B6A;
  font-size: 20px;
  border-radius: 50px;
}

nav {
  background-color: #474747;
}

#header {
  color: #FAF9F6;
  padding: 4%;
  margin-left: 1%;
  border-radius: 50px;
  display: inline-block;
  background-color: #FF0000;
}